<a href="https://colab.research.google.com/github/AlexsanderPessoa/Aprendizado-de-Banco-de-Dados/blob/main/Aprendizado_banco_de_dados_agroadvance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
/* DLL - Data Definition Language */

/* A linguagem de definição de dados se ocupa de modificar 
a estrutura de objetos de uma DB.

Ela é constituida por diferentes setenças que nos permite criar, 
modificar, apagar ou definir a estrutura das tabelas que 
armazenam dados. */

/* Create, Alter, Drop, Truncate */

CREATE DATABASE AGROADVANCE;
CREATE SCHEMA AGROADVANCE2;
USE AGROADVANCE;

/* Em outros gerenciadores pode haver diferença entre 
database e schema, dentro de um schema eu posso inserir vários 
database */

/* eu chamei de agroadvance2, pois no mysql eles são iguais e 
não pode haver repetição */

CREATE TABLE pagamentos (
id_pay	INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
valor	REAL NOT NULL,
moeda	VARCHAR(20) NOT NULL,
data_pagamento DATE NOT NULL,
tipo_pagamento VARCHAR(50),
id_usuario INT NOT NULL,
id_empresa INT NOT NULL
);

SELECT * FROM pagamentos;