<a href="https://colab.research.google.com/github/AlexsanderPessoa/Aprendizado-de-Banco-de-Dados/blob/main/Aprendizado_banco_de_dados_agroadvance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
/* DLL - Data Definition Language */

/* A linguagem de definição de dados se ocupa de modificar 
a estrutura de objetos de uma DB.

Ela é constituida por diferentes setenças que nos permite criar, 
modificar, apagar ou definir a estrutura das tabelas que 
armazenam dados. */

/* Create, Alter, Drop, Truncate */

/* atalhos para rodar: ctrl + Enter */

CREATE DATABASE AGROADVANCE;
CREATE SCHEMA AGROADVANCE2;
USE AGROADVANCE;

/* Em outros gerenciadores pode haver diferença entre 
database e schema, dentro de um schema eu posso inserir vários 
database */

/* eu chamei de agroadvance2, pois no mysql eles são iguais e 
não pode haver repetição */

CREATE TABLE pagamentos (
id_pay	INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
valor	REAL NOT NULL,
moeda	VARCHAR(20) NOT NULL,
data_pagamento DATE NOT NULL,
tipo_pagamento VARCHAR(50),
id_usuario INT NOT NULL,
id_empresa INT NOT NULL
);

SELECT * FROM pagamentos;
/* estou selacionando a tabela pagamentos */

DESCRIBE pagamentos;
/* Não é DLL */
/* na coluna default, serve caso nada seja add na tabela, 
ele irá com um valor padrão já pre estabelecido */

ALTER TABLE pagamentos
ADD age INT;
/* eu alterei a tabela pagamentos e add uma coluna
chamada: age, do tipo inteiro */
/* agora quando eu chamar de novo o SELECT * FROM pagamentos,
deve aparecer uma coluna a mais referente a que eu criei. */

SELECT * FROM pagamentos;
/* não preciso escrever o codigo de novo, basta eu selecinar 
o código lá em cima e mandar rodar no icone com o desenho de raio. */

/* Posso modificar uma coluna que eu já crie
nesse caso vou alterar a coluna age de inteiro para um varchar */

ALTER TABLE pagamentos
MODIFY age NVARCHAR(50) NOT NULL;
/* NVARCHAR pode ser add tanto strings quanto numeros */
/* CUIDADO, embaixo recebemos uma alerta, isso não é um erro
significa que não está de acordo com os novos padroes, mas funciona normalmente,
mas precisa tomar cuidado com os caracter, no nosso exemplo que estamos passando
irá funcionar normalmente. */
/* vamos olhar de novo */

DESCRIBE pagamentos;

/* Caso eu precise mudar o nome da minha coluna, utilizo o change, 
aqui eu mudei de age para idade */
ALTER TABLE pagamentos
CHANGE COLUMN age idade VARCHAR(50) NOT NULL;

/* Eu quero deletar a coluna idade que foi criado */
ALTER TABLE pagamentos
DROP COLUMN idade;

/* Posso trocar o nome da tabela, cuidado com o change column, 
pois eu quero alterar o nome da tabela e não da coluna */
ALTER TABLE pagamentos
RENAME TO pagamento_do_mes;

/* ou seja, quando eu for chamar mais uma vez a tabela pagamentos
iremos verificar que dará erro, pois ela não existe mais */
SELECT * FROM pagamentos;

/* para dar certo */
SELECT * FROM pagamento_do_mes;

/* posso fazer quantas vezes eu quiser, e até voltar para
o nome anterior */
ALTER TABLE pagamento_do_mes
RENAME TO pagamentos;

SELECT * FROM pagamentos;

/* para não cometer erro, podemos fazer um backup ou uma cópia da tabela,
como tem sempre dados entrando na minha tabela, 
eu quero fazer uma cópia as 8h da manhã todo santo dia, um snapshot (fotografia),
do meu DB */
CREATE TABLE pay_backup
LIKE pagamentos;

SELECT *FROM pay_backup;

/* irei inserir alguns valores para dentro da tabela pagamentos */
INSERT INTO pagamentos VALUES
(1, 3, 'USD', '01-01-1999', 'PayPal', '2', '3'); 
/* não é DLL */
/* observe que deve ser add os valores em seguencia de acordo com sua tabela */
/* os textos sempre devem estar entre aspas */
/* ao rodar, vai dar erro, pois o formato da data está errado,
deve seguir os padrões - ANO/MES/DIA, reescrevendo temos: */

INSERT INTO pagamentos VALUES
(1, 3, 'USD', '1999-12-01', 'PayPal', '2', '3'); 

SELECT * FROM pagamentos;

/* se eu quiser só apargar os dados e manter a estrutura,
eu utilizo o truncate, minha tabela vai permanecer,
mas todo o conteudo será apagado */
TRUNCATE TABLE pagamentos;

/* Apagar a tabela, quando eu faço isso eu deleto até os
dados, pois se eu apaguei a tabela, não tem onde os dados ficarem */
DROP TABLE pagamentos;
DROP TABLE pay_backup;

/* fim */